:root {
    --cottage-cheese: #fefcf6;
    --english-rose: #f8acc6;
    --indian-red: #c96863;
    --gold: #f6d68f;
    --tea-green: #d4f2a6;
    --camo-green: #5b6746;
    --dark-camo-green: #474f36;
    --pale-blue: #d8e2ee;
    --lavender: #dac5e2;

    --stripes-width: 3.5vw;

    --box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

body {
    background-color: var(--cottage-cheese);
    color: var(--camo-green);
}

.skip-link {
    position: fixed;
    z-index: 2;
    background-color: var(--english-rose);
    color: var(--dark-camo-green);
    padding: 0.7rem;
    border: 1px solid var(--dark-camo-green);
    font-weight: 600;
    font-size: 1.2rem;
    top: -50vh;
}

.skip-link:focus {
    top: 0;
}

.stripes {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    width: var(--stripes-width);
}

.right-stripes {
    right: 0;
}

.stripes > div {
    width: 33.33%;
}

.pink-stripe {
    background-color: var(--english-rose);
}

.yellow-stripe {
    background-color: var(--gold);
}

.blue-stripe {
    background-color: var(--pale-blue);
}

header,
main,
footer {
    padding-inline: var(--stripes-width);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    border: 3px, solid, var(--indian-red);
}

nav ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: calc(100vw - (var(--stripes-width) * 2));
}

nav ul li a:link,
nav ul li a:visited {
    font-size: 1.7rem;
    color: var(--camo-green);
    text-decoration: none;
}

.about {
    display: grid;
    grid-template-areas:
        "greeting avatar"
        "title avatar"
        "description avatar"
        "button avatar";
    grid-template-columns: 0.6fr 0.4fr;
    box-shadow: var(--box-shadow);
}

.projects {
    flex-direction: column;
    align-content: center;
    text-align: center;
}
h1,
nav {
    font-family: "ohno-blazeface", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1 {
    -webkit-text-stroke: 5px var(--indian-red);
    paint-order: stroke fill;
    font-size: 4rem;
}

h1 span:nth-child(5n + 1) {
    color: var(--english-rose);
}

h1 span:nth-child(5n + 2) {
    color: var(--tea-green);
}

h1 span:nth-child(5n + 3) {
    color: var(--gold);
}

h1 span:nth-child(5n + 4) {
    color: var(--pale-blue);
}

h1 span:nth-child(5n + 5) {
    color: var(--lavender);
}

h2,
.greeting,
.title {
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;
}

h2,
.title {
    font-weight: 700;
}

.zoie-img {
    width: clamp(200px, 75%, 500px);
    height: auto;
    grid-area: avatar;
}

.title,
.greeting,
.description {
    margin: 0rem;
}

.title {
    font-size: 2.2rem;
    line-height: 2.2rem;
    grid-area: title;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 600;
    grid-area: greeting;
}

.description {
    line-height: 1.4rem;
    grid-area: description;
}

.description,
.projects-btn,
.credit,
.skip-link {
    font-family: antarctican-mono, sans-serif;
    font-style: normal;
}

.description,
.credit {
    font-weight: 400;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-card:nth-child(4n + 1) {
    background-color: var(--english-rose);
}

.project-card:nth-child(4n + 2) {
    background-color: var(--gold);
}

.project-card:nth-child(4n + 3) {
    background-color: var(--pale-blue);
}

.project-card:nth-child(4n + 4) {
    background-color: var(--lavender);
}

.project-card {
    margin: 1rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}

.project-card > img {
    width: 100%;
    height: auto;
}

.project-card > figcaption {
    font-family: shantell-sans-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--dark-camo-green);
}

.about,
footer {
    background-color: var(--tea-green);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--indian-red);
    margin: 2rem 0 1rem 0;
    padding: 1rem calc(var(--stripes-width) + 1rem);
}

.img-btn {
    background-color: transparent;
    border: none;
    width: fit-content;
}

.projects-btn {
    background-color: var(--english-rose);
    border: transparent;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    box-shadow: 4px 4px 0px 0px var(--camo-green);
    color: var(--dark-camo-green);
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-area: button;
    width: fit-content;
    height: fit-content;
}

/* Desktop */
@media (min-width: 1025px) {
    .about,
    .projects {
        padding-inline: 6vw;
    }

    .project-card {
        transition: transform 0.2s;
    }

    .project-card:nth-child(4n + 1) {
        transform: rotate(1deg);
    }

    .project-card:nth-child(4n + 2) {
        transform: rotate(-2deg);
    }

    .project-card:nth-child(4n + 3) {
        transform: rotate(-2deg);
    }

    .project-card:nth-child(4n + 4) {
        transform: rotate(1deg);
    }

    .project-card:hover {
        transform: rotate(0deg) scale(1.05);
    }
}

/* Excludes desktop screens */
@media (max-width: 1024px) {
    .about {
        grid-template-areas:
            "avatar"
            "greeting"
            "title"
            "description"
            "button";
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        padding: 5vw;
    }

    body {
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 750px) and (max-width: 1024px) {
    .projects {
        padding-inline: 2.5vw;
    }

    .project-card:nth-child(4n + 1) {
        transform: rotate(2deg);
    }

    .project-card:nth-child(4n + 2) {
        transform: rotate(-3deg);
    }

    .project-card:nth-child(4n + 3) {
        transform: rotate(-3deg);
    }

    .project-card:nth-child(4n + 4) {
        transform: rotate(2deg);
    }
}

/* Mobile */
@media (max-width: 600px) {
    :root {
        --stripes-width: 8vw;
    }

    nav {
        display: none;
    }

    header {
        padding: 0.5rem;
    }

    h1 {
        font-size: 2.2rem;
        max-width: 30%;
        line-height: 1.8rem;
        -webkit-text-stroke: 4px var(--indian-red);
    }

    .project-cards {
        gap: 0rem;
        grid-template-columns: 1fr;
    }

    .social-container > .img-btn > img {
        width: 3rem;
    }
}
